@page "/time-zone"

<PageTitle>Time Zone Converter</PageTitle>

<div class="d-flex flex-row justify-content-center">
    <div class="w-auto">
        <div class="text-center"><i class="bi bi-cone-striped text-warning" style="font-size: 5rem;"></i></div>
    </div>
    <div>
        <h1 class="text-center text-primary">Time Zone Converter</h1>
        <h2 class="text-center text-danger">Under Construction</h2>
    </div>
</div>

<div class="row gy-2 mb-2">
    <div class="col">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Input Date / Time</span>
            <input type="text" class="form-control form-control-lg" placeholder="Input Date/Time String Here" @bind="_input" @bind:after="OnInputChanged" @bind:event="oninput"/>
        </div>
    </div>
</div>
<div class="row gy-4">
   
</div>


@code {
    private string _input = "";

    private void OnInputChanged()
    {
    }
}