@page "/about"
@inject HttpClient Http

<PageTitle>About Me</PageTitle>

<p>Passionate Software Engineer with expertise in .NET and C#, 
    dedicated to building lean, productive, and efficient teams. 
    Proficient in both low-level programming and high-level architecture, 
    with a strong focus on software design and problem-solving. 
    Adept at communicating with users to deliver tailored solutions, 
    fostering a culture of proactive problem-solving rather than focusing on obstacles.</p>
    
<h1>Links</h1>

<a href="https://github.com/michal-ciechan" style="font-size: 4em">
    <i class="bi bi-github"></i>
</a>
<a href="https://www.linkedin.com/in/michalciechan" style="font-size: 4em">
    <i class="bi bi-linkedin"></i>  
</a>

