@page "/about"
@inject HttpClient Http

<PageTitle>About Me</PageTitle>

<div class="container">
    <div class="row">
        <h1 class="text-center text-xl-center text-primary">Mike Ciechan</h1>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-5 col-lg-3 col-xl-5 text-center mt-3">
            <img src="images/me.jpg" style="clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%); max-width: 100%; max-height: 500px" alt="Image of Mike Ciechan with Family"/>
        </div>
        <div class="col mt-3">
            <div class="row">
                <div class="col">
                    <p>Passionate Software Engineer with expertise in .NET and C#,
                        dedicated to building lean, productive, and efficient teams.
                    </p>
                    <p>
                        Proficient in both low-level programming and high-level architecture,
                        with a strong focus on software design and problem-solving.
                    </p>
                    <p>
                        Adept at communicating with users to deliver tailored solutions,
                        fostering a culture of proactive problem-solving rather than focusing on obstacles.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="text-lg-center text-primary text-center  ">Links</h1>

                    <a href="https://github.com/michal-ciechan" style="font-size: 4em">
                        <i class="bi bi-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/michalciechan" style="font-size: 4em">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>


</div>
