@page "/"
@using MikeysUtils3.Pages.DateTimePage

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-12 col-lg-6 col-xxl-4">
        <div class="card">
            <h2 class="card-header text-center">Date & Time</h2>
            <div class="card-body">
                <img src="images/thumbnail-datetime.png" class="w-100" alt="Date & Time Converter Example. Parsing multiple date and time formats into a set of outputs         " />
            </div>
            <a href="/date-time" style="position: absolute; width: 100%; height: 100%;"></a>
        </div>
    </div>
</div>